<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TastyTradeReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TastyTradeReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MoviePath" value="E:\Finance\TastyTradePodcasts\"></add>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
    <TastyTradeReader.Properties.Settings>
      <setting name="PodcastPath" serializeAs="String">
        <value>E:\Finance\TastyTradePodcasts\</value>
      </setting>
    </TastyTradeReader.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <TastyTradeReader.Properties.Settings>
      <setting name="VidHeight" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="VidWidth" serializeAs="String">
        <value>500</value>
      </setting>
    </TastyTradeReader.Properties.Settings>
  </userSettings>
</configuration>
